@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(26, 26, 26);
  font-family: "montserrat", sans-serif;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.title h1 {
  color: white;
  text-align: center;
  border: solid;
  border-color: white;
  border-width: 1.5px;
  border-radius: 10px;
  padding: 1.5rem 3.5rem 1.5rem 3.5rem;
}

.back_btn_wrapper {
  display: flex;
  justify-content: center;
}

.back_home_btn {
  color: white;
  background: rgb(26, 26, 26);
  border: none;
  padding: 1rem;
}

.back_home_btn:hover {
  cursor: pointer;
}

.cart_btn {
  color: white;
  background: rgb(26, 26, 26);
  border: none;
  padding: 1rem;
}

.cart_btn:hover {
  cursor: pointer;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
